body {
  background: #f06d06;
  margin: 20px 0;
  padding: 10px;
}
.wrapper {
  text-align: center;
}
.lead-to-data {
  width: 20vw;
  height: 25vh;
  display: inline-block;
  background-color: aqua;
}
#myTablePlaceholder {
  margin-top: 3vh;
  color: aqua;
}
table, thead, th, td {
   border: 1px solid black;
}
